.breadcramp p {
  font-size: 22px;
  font-weight: 600;
  color: rgb(18, 30, 63);
  vertical-align: middle;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  margin-top: 11px;
  margin-left: 47px;
}
.soreport label {
  padding-bottom: 5px;
}
/* .formcheck{
    margin-left: 12px;
  } */
.margintop {
  margin-top: 20px;
}
.form-check-input {
  cursor: pointer;
}
.submit {
  background: linear-gradient(
    90deg,
    rgba(255, 153, 51, 1) 0%,
    rgba(255, 102, 0, 1) 88%
  );
  padding: 5px 13px;
  border-radius: 7px;
  border: none;
  outline: none;
  /* background: #a3a3cd; */
  color: white;
  float: right;
}
.paramlabel {
  font-weight: 500;
  padding-left: 8px !important;
}
.navbars {
  margin-left: 46px;
  margin-top: 18px;
}
::ng-deep.navbars {
  --bs-nav-link-padding-x: 8px !important;
  --bs-nav-link-padding-y: 7px !important;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-link-color) !important;
  --bs-nav-link-hover-color: var(--bs-link-hover-color) !important;
  --bs-nav-link-disabled-color: #6c757d !important;
  display: flex !important;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
  list-style: none !important;
}
.nav-pills .nav-link.active {
  color: #009eff !important;
  background-color: white !important;
  border-bottom: 4px #14a5ff solid;
}
.nav-pills .nav-link {
  border-radius: 0 !important;
}
.nav-link {
  color: #009eff !important;
}
.padding {
  padding: 0.175rem 1.25rem 0.275rem 0.85rem;
  margin-top: 26px;
  margin-left: -40px;
}
.trash {
  color: red;
  cursor: pointer;
  font-size: 13px;
}
.edit {
  color: blue;
  cursor: pointer;
  font-size: 13px;
}
.deleteconfirm {
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 4px;
  width: 60px;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 153, 51, 1) 0%,
    rgba(255, 102, 0, 1) 88%
  );
}
.deletereject {
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 4px;
  width: 60px;
  color: white;
}
.headingsix1 {
  font-weight: 600;
  font-size: 17px;
}
input:read-only {
  background-color: #e9ecef;
  border-color: transparent;
  outline: none;
  box-shadow: none;
  cursor: not-allowed;
}
.mt3 {
  margin-top: 24px;
}

.label-H {
  padding-top: 0 !important;
  padding-left: 8px !important;
}

@media screen and (min-width: 200px) and (max-width: 900px) {
  .navbars {
    margin-left: 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 900px) {
  .Location-input {
    margin-left: 6px;
  }
}
